<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content = "text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/dashboard.css')}}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
	<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}" type="text/javascript"></script>
	<title> Cloud Computing </title>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('home')}}">Cloud Computing</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{{url_for('home')}}">Home Page</a></li>
          {% if userName %}
          <li><a href="{{url_for('personalInfo')}}">Information Center</a></li>
          <li class = "active"><a href="{{url_for('projectCenter')}}">Project Center</a></li> 
          {% endif %}
          <li><a href="http://www.yquan.org">About</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if userName %}
          <li><a href="{{url_for('personalInfo')}}">{{ userName }}</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('register')}}">Register</a></li>
          {% endif %}
        </ul>
        <form class="navbar-form navbar-right"  action = "{{url_for('searchJobs')}}", method="POST">
          <input type="text" class="form-control" placeholder="Search..." name="keyword" >
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="{{url_for('projectCenter')}}">ProjectCenter</a></li>
          <li class="active"><a href="{{url_for('createProject')}}">Create Project</a></li>
          <li><a href="{{url_for('waitingJobs')}}">Waiting Projects</a></li>
          <li><a href="{{url_for('runningJobs')}}">Running Projects</a></li>
          <li><a href="{{url_for('finishedJobs')}}">Finished Projects</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="{{url_for('personalInfo')}}">InformationCenter</a></li>
          <li><a href="{{url_for('showInfo')}}">Show Information</a></li>
          <li><a href="{{url_for('editInfo')}}">Edit Information</a></li>
          <li><a href="{{url_for('changePassword')}}">Change Password</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="http://www.yquan.org">About</a></li>
          <li><a href="https://github.com/mfmelody/spark_cloud">Project Page</a></li>
          <li><a href="{{url_for('home')}}">Home Page</a></li>
        </ul>
      </div>  
      <div class = "col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form class="form-horizontal" enctype="multipart/form-data" role="form" action = "{{url_for('createProject')}}", method="POST">
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a href="{{url_for('createProject')}}">Project Info</a></li>
            </ul>
          </div>
          <div class="row" style="height: 30px;"></div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">JobName</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputEmail3" placeholder="4-16chars" name="jobName" value = "{{ jobName }}">
            </div>
            <label for="inputType" class="col-sm-1 control-label">JobType</label>
            <div class="col-sm-2">
              <select class="form-control" name="jobType" id = "inputType">
                <option name="jobType" value="0" {% if jobType==0 %} selected="selected" {% endif %}>Render</option>
                {% if not isFairing %}
                <option name="jobType" value="1" {% if jobType==1 %} selected="selected" {% endif %}>Fair</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile" class="col-sm-3 control-label">Source File</label>
            <div class="col-sm-3">
              <input type="file" id="exampleInputFile" class="form-control" name="file">
            </div>
            <label for="inputTime" class="col-sm-1 control-label">overTime(s)</label>
            <div class="col-sm-3">
              <select class="form-control" name="overTime" id = "inputTime">
                {% for i in overTimes %}
                <option value="{{ i }}" name="overTime" {% if overTime==i %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-7">
              <textarea class="form-control" id="inputDescription" placeholder="No more than 255 chars" name="description" rows="3">{{ description }}</textarea>
            </div>
          </div>
          <div class="row" style="height: 40px;"></div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a href="{{url_for('createProject')}}">Cluster Config</a></li>
            </ul>
          </div>
          <div class="row" style="height: 30px;"></div>
          <div class="form-group">
            <label for="inputMem" class="col-sm-3 control-label">Memory</label>
            <div class="col-sm-3">
              <select class="form-control" name="memory" id="inputMem">
                {% for i in memorys %}
                <option value="{{ i }}" name="memory" {% if memory==i %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
            <label for="inputCores" class="col-sm-1 control-label">Cores</label>
            <div class="col-sm-3">
              <select class="form-control" name="core" id="inputCores">
                {% for i in cores %}
                <option value="{{ i }}" name="core" {% if core==i %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row" style="height: 40px;"></div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a href="{{url_for('createProject')}}">Render Config</a></li>
            </ul>
          </div>
          <div class="row" style="height: 30px;"></div>
          <div class="form-group">
            <label for="inputMapCount" class="col-sm-3 control-label">MapTaskCount</label>
            <div class="col-sm-3">
              <select class="form-control" name="mapTaskCount" id="inputMapCount">
                {% for i in mapTaskCounts %}
                <option value="{{ i }}" name="mapTaskCount" {% if mapTaskCount==i %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
            <label for="inputPixel" class="col-sm-1 control-label">Pixel</label>
            <div class="col-sm-3">
              <select class="form-control" name="pixel" id="inputPixel">
                {% for choosePixel in pixels %}
                <option name="pixel" value="{{ choosePixel }}" {% if choosePixel==pixel %} selected="selected" {% endif %}>{{ choosePixel }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a href="{{url_for('createProject')}}">Fair Config</a></li>
            </ul>
          </div>
          <div class="row" style="height: 30px;"></div>
          <div class="form-group">
            <label for="inputMapCount" class="col-sm-3 control-label">Lambda</label>
            <div class="col-sm-3">
              <select class="form-control" name="lambda" id="inputLambda">
                {% for i in objLambdas %}
                <option value="{{ i }}" name="lambda" {% if objLambda==i %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
            <label for="inputPixel" class="col-sm-1 control-label">Times</label>
            <div class="col-sm-3">
              <select class="form-control" name="times" id="inputTime">
                {% for i in repeatTimes %}
                <option name="times" value="{{ i }}" {% if i==repeatTime %} selected="selected" {% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row" style="height: 40px;"></div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-2">
              <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href='{{url_for('projectCenter')}}'">Cancel</button>
            </div>
          </div>
        </form>
        <div class="row" style="height: 40px;"></div>
        {% for message in errorMessage %}
        {% if message!='' %}
        <div class="alert alert-danger alert-dismissable col-sm-4 col-sm-offset-4">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>  
          <strong>Warn!</strong> {{ message }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>